<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="DTAppCon" connectionString="Data Source=tollabserver.database.windows.net;Initial Catalog=TollabDB;User Id=sadmin;Password=TollabAdminPa$$word;" providerName="System.Data.SqlClient"/>-->
    <add name="DTAppCon" connectionString="Data Source=localhost;Initial Catalog=TollabDB;User Id=sa;Password=sa@123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="iosStudentCer" value="\Certificates\tollab_student_aps_final2020.p12"/>
    <add key="iosStudentPassword" value="tollab@123"/>
    <add key="iosTeacherCer" value="\Certificates\tollab_teacher_aps_final2020.p12"/>
    <add key="iosTeacherPassword" value="tollab@123"/>
    <add key="Push.Android.AppId" value="923292051193"/>
    <add key="Push.Android.ServerToken" value="AAAA1vh-pvk:APA91bHegzIY4UZFNASmzK-cM_oBSprI96tdo8gDQjZjRwimvt_m3p4C62skYYQf3WKNS1VtfjEJWyy8mXkCFhuxoTAsGlGElLbPcS4bPlUkDT0HrFv3l-TvTJ1cuUsawsLdnGvnwx0G"/>
    <add key="Nexmo.api_key" value="b3722f03"/>
    <add key="Nexmo.api_secret" value="cJBDgju04NrtyaG9"/>
    <add key="Nexmo.Url" value="https://rest.nexmo.com/sms/json"/>
    <add key="Nexmo.from" value="Tollab APP"/>
    <add key="Nexmo.message" value="Tollab Verification Code is "/>
    <!-- Test My Fattorah-->
    <!--<add key="MyFatooraApiUrl" value="https://apitest.myfatoorah.com" />
    <add key="MyFatoorahApiKey" value="rLtt6JWvbUHDDhsZnfpAhpYk4dxYDQkbcPTyGaKp2TYqQgG7FGZ5Th_WD53Oq8Ebz6A53njUoo1w3pjU1D4vs_ZMqFiz_j0urb_BH9Oq9VZoKFoJEDAbRZepGcQanImyYrry7Kt6MnMdgfG5jn4HngWoRdKduNNyP4kzcp3mRv7x00ahkm9LAK7ZRieg7k1PDAnBIOG3EyVSJ5kK4WLMvYr7sCwHbHcu4A5WwelxYK0GMJy37bNAarSJDFQsJ2ZvJjvMDmfWwDVFEVe_5tOomfVNt6bOg9mexbGjMrnHBnKnZR1vQbBtQieDlQepzTZMuQrSuKn-t5XZM7V6fCW7oP-uXGX-sMOajeX65JOf6XVpk29DP6ro8WTAflCDANC193yof8-f5_EYY-3hXhJj7RBXmizDpneEQDSaSz5sFk0sV5qPcARJ9zGG73vuGFyenjPPmtDtXtpx35A-BVcOSBYVIWe9kndG3nclfefjKEuZ3m4jL9Gg1h2JBvmXSMYiZtp9MR5I6pvbvylU_PP5xJFSjVTIz7IQSjcVGO41npnwIxRXNRxFOdIUHn0tjQ-7LwvEcTXyPsHXcMD8WtgBh-wxR8aKX7WPSsT1O8d8reb2aR7K3rkV3K82K_0OgawImEpwSvp9MNKynEAJQS6ZHe_J_l77652xwPNxMRTMASk1ZsJL" />-->
    <!-- production-->
    <add key="MyFatooraApiUrl" value="https://api.myfatoorah.com"/>
    <add key="MyFatoorahApiKey" value="nZ6ZCaIe1JbhVsbEdIPEISgty9KpEZtD-ojVm3GIo2PoE1EWSa-HibbYSwegi8sXUjt5vX_V36YVHPJmOE-8RrXcV7DPuOBE7bIfxbo4p_mu5c-gSqvhtbTaLaJ5hWKbCtAMHN01BGwci1Qax9sZrsN27ZDU_Lthj6toxVvlQOCVGPtAwfIG3XajawHT79f9tHwixTBpGDZnTXwRoCP6teiLiryyPMjasqugUBJpp6oOBlrW1d4HLV73h5tDJbLEeeLo_532c3ONCHLrzTnMCFZe3d8ZE5AgEYw_jf2pun1owXUCG-zlBOyyjCEp46VJ_-2wGDtG2aKWE4ooTtCFYGKQ_lbT6t4lCLvj_yCdi43khIwclP-Ug2CnMurld_9PiIfLWRN3F0MXepN7WLJBlR0Z5BUZPXguQGJ6DtqJx6Vmn598BFMTJyz43aT_lSqA7wG20-xh_e9jNBoEMYEDov4Zsw-nPJANQDzJVmxlaT76_VaRWyz8B3p3rtOmlP2zgwQjKqosq0iblbdIWWheBKJjmjl4Isq4cbrrm1pqevl31ykkWVd3gThaUXiLkUJNieGVv1VUoZlO3A53zHj-ievz_7vTlL5Kr34GrtjgFZ03jD1fJsPuYmX35Fj2aPXr6yiwwhHL85Gr3gvUFDQJ2VunMFmz1eBEC-JsKDajH4BwxPrv"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="2147483647" executionTimeout="9999"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Json" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.10.0.0" newVersion="6.10.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>